# 1. Problem Statement

This project understands how the student's performance is affect by other variables such as gender, ethnicity, parent education level, lunch etc.

# 2. Data Collection

Data source : https://www.kaggle.com/datasets/desalegngeb/students-exam-scores

## 2.1 Import Data and Packages

In [28]:
#import numpy, pandas, matplotlib, seaborn and warnings library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import KNNImputer, SimpleImputer

import warnings
warnings.filterwarnings(action = 'ignore')

In [54]:
#Read datast as pandas dataframe
df = pd.read_csv('../Data/Data.csv')

In [55]:
#Show top 5 records
df.head()

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75

In [56]:
#drop Unnamed: 0 column.
df.drop(columns = ['Unnamed: 0'], axis = 1, inplace = True)

In [57]:
#shape of the dataset
df.shape

(30641, 14)

Dataset consist 30,641 rows and 14 columns.

## 2.2 Dataset informations.

In [58]:
#Show column names
df.columns

Index(['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'TestPrep',
       'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings',
       'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore',
       'WritingScore'],
      dtype='object')

Gender: Gender of the student (male/female)

EthnicGroup: Ethnic group of the student (group A to E)

ParentEduc: Parent(s) education background (from some_highschool to master's degree)

LunchType: School lunch type (standard or free/reduced)

TestPrep: Test preparation course followed (completed or none)

ParentMaritalStatus: Parent(s) marital status (married/single/widowed/divorced)

PracticeSport: How often the student parctice sport (never/sometimes/regularly))

IsFirstChild: If the child is first child in the family or not (yes/no)

NrSiblings: Number of siblings the student has (0 to 7)

TransportMeans: Means of transport to school (schoolbus/private)

WklyStudyHours: Weekly self-study hours(less that 5hrs; between 5 and 10hrs; more than 10hrs)

MathScore: math test score(0-100)

ReadingScore: reading test score(0-100)

WritingScore: writing test score(0-100)

# 3. Checking the data.

## 3.1 Checking the data types

In [59]:
df.dtypes

Gender                  object
EthnicGroup             object
ParentEduc              object
LunchType               object
TestPrep                object
ParentMaritalStatus     object
PracticeSport           object
IsFirstChild            object
NrSiblings             float64
TransportMeans          object
WklyStudyHours          object
MathScore                int64
ReadingScore             int64
WritingScore             int64
dtype: object

In [60]:
all_col = list(df.columns)
num_col =list(df._get_numeric_data())
cat_col = list(set(all_col) - set(num_col))

print("All features :", all_col)
print("\n Object features :", cat_col)
print("\n Numerical features :", num_col)

All features : ['Gender', 'EthnicGroup', 'ParentEduc', 'LunchType', 'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild', 'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore', 'ReadingScore', 'WritingScore']

 Object features : ['Gender', 'PracticeSport', 'WklyStudyHours', 'LunchType', 'ParentEduc', 'ParentMaritalStatus', 'TestPrep', 'EthnicGroup', 'TransportMeans', 'IsFirstChild']

 Numerical features : ['NrSiblings', 'MathScore', 'ReadingScore', 'WritingScore']

## 3.2 Checking for duplicate values.

In [61]:
df.duplicated().sum()

0

There are no duplicate values in that dataset.

## 3.3 Checking for missing values.

In [62]:
df.isna().sum()

Gender                    0
EthnicGroup            1840
ParentEduc             1845
LunchType                 0
TestPrep               1830
ParentMaritalStatus    1190
PracticeSport           631
IsFirstChild            904
NrSiblings             1572
TransportMeans         3134
WklyStudyHours          955
MathScore                 0
ReadingScore              0
WritingScore              0
dtype: int64

In [63]:
print("Before drop all columns which have missing values, We have ", df.shape[0], "rows. ")
print("If drop all columns which have missing values, We have ", df.dropna().shape[0], "rows. ")
print("If drop all columns which have missing values, We lose ", (df.shape[0] - df.dropna().shape[0]), "rows. ")
print("It is a ", ((df.shape[0] - df.dropna().shape[0])/ df.shape[0]) *100 , " % of the given dataset. ")

Before drop all columns which have missing values, We have  30641 rows.
If drop all columns which have missing values, We have  19243 rows.
If drop all columns which have missing values, We lose  11398 rows.
It is a  37.19852485232205  % of the given dataset.

In [64]:
df[df.isnull().any(axis = 1)]

,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
9,female,group B,high school,free/reduced,none,married,regularly,yes,NaN,private,< 5,37,59,50
10,male,group C,associate's degree,standard,none,NaN,sometimes,yes,1.0,private,5 - 10,58,54,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30627,female,group A,high school,standard,completed,married,never,no,NaN,school_bus,> 10,58,77,82
30628,female,group B,NaN,free/reduced,none,single,sometimes,no,1.0,school_bus,5 - 10,55,63,63
30629,female,group D,associate's degree,standard,completed,married,sometimes,no,2.0,school_bus,NaN,67,63,72
30634,male,group A,associate's degree,free/reduced,completed,NaN,sometimes,no,2.0,school_bus,5 - 10,65,60,60
30638,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67

In [65]:
knni = KNNImputer(n_neighbors = 2, weights = "uniform")
knni.fit(df[num_col])

KNNImputer(n_neighbors=2)

In [66]:
temp = knni.transform(df[num_col])
temp1 = pd.DataFrame(data = temp, columns = num_col)

In [67]:
df.drop(columns = num_col, axis = 1, inplace = True)
df = pd.concat([df, temp1], axis = 1)

In [68]:
df[num_col].isnull().sum()

NrSiblings      0
MathScore       0
ReadingScore    0
WritingScore    0
dtype: int64

In [70]:
for i in cat_col:
    df[i].fillna(df[i].mode()[0], inplace = True)

In [71]:
df.isnull().sum()

Gender                 0
EthnicGroup            0
ParentEduc             0
LunchType              0
TestPrep               0
ParentMaritalStatus    0
PracticeSport          0
IsFirstChild           0
TransportMeans         0
WklyStudyHours         0
NrSiblings             0
MathScore              0
ReadingScore           0
WritingScore           0
dtype: int64

In [73]:
#check null and data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               30641 non-null  object
 1   EthnicGroup          30641 non-null  object
 2   ParentEduc           30641 non-null  object
 3   LunchType            30641 non-null  object
 4   TestPrep             30641 non-null  object
 5   ParentMaritalStatus  30641 non-null  object
 6   PracticeSport        30641 non-null  object
 7   IsFirstChild         30641 non-null  object
 8   TransportMeans       30641 non-null  object
 9   WklyStudyHours       30641 non-null  object
 10  NrSiblings           30641 non-null  float64
 11  MathScore            30641 non-null  float64
 12  ReadingScore         30641 non-null  float64
 13  WritingScore         30641 non-null  float64
dtypes: float64(4), object(10)
memory usage: 3.3+ MB